esbuild.js
azure-pipelines.yml
.gitignore
.vscode/**
.vscode-test/**
.github/**
server/tree-sitter/*.js
src/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/node_modules/**
**/test/**
**/*.scm
